/* styles for the font toggle button */
.button-container {
    &__nav-button {
        position: relative;
        z-index: 999;

        padding: 6px 10px;
        border-radius: 6px;
        border: 1px solid var(--nav-bar-text-color);
        background-color: var(--nav-bar-background);
        color: var(--nav-bar-text-color);
        font-family: var(--header-font-family);
        font-size: medium;
        cursor: pointer;
        transition: 1s all ease;

        &:hover {
            background-color: var(--nav-bar-background-highlight);
        }
    }
}

.next-button {
    color: var(--nav-bar-text-color);
}
