.dialog {
    &__option {
        cursor: pointer;
        border: 2px solid var(--controls-text-color);
        padding: 10px;
        &:hover {
            background-color: var(--controls-background-highlight);
        }
    }
}
