:root {
    /* variables */
    /* nav-bar colors */
    --nav-bar-background: #100809;
    --nav-bar-background-highlight: #3b241d;
    --nav-bar-text-color: #d4a775;

    /* body and headings */
    --text-color: #c3c3ac;
    --background-color: #100809cc;
    --background-shadow-color: #100809d2;
    --header-font-family: "Oleo Script Swash Caps", sans-serif;
}
