:root {
    /* variables */
    /* nav-bar colors */
    --nav-bar-background: #100809;
    --nav-bar-background-highlight: #1d293b;
    --nav-bar-text-color: #75d4d4;

    /* body and headings */
    --text-color: #a7bec0;
    --background-color: #100809cc;
    --background-shadow-color: #100809d2;
    --header-font-family: "Oleo Script Swash Caps", sans-serif;
}
