/* styles for the font toggle button */
.button-container {
    &__button {
        position: relative;
        z-index: 999;

        padding: 6px 10px;
        border-radius: 6px;
        border: 1px solid var(--nav-bar-text-color);
        background-color: var(--nav-bar-background);
        color: var(--nav-bar-text-color);
        font-family: var(--header-font-family);
        font-size: medium;
        cursor: pointer;
        transition: 1s all ease;

        &:hover {
            background-color: var(--nav-bar-background-highlight);
        }

        &--mute {
            position: fixed;
            top: 30px;
            right: 30px;
        }
    }
}

.volume-container {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 999;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid var(--nav-bar-text-color);
    background-color: var(--nav-bar-background);
    color: var(--nav-bar-text-color);
    font-family: var(--header-font-family);
    font-size: medium;
    cursor: pointer;
    transition: 1s all ease;

    display: flex;
    gap: 5px;
    align-items: center;

    &__slider {
        border-radius: 2px;
        width: 100px;
        height: 5px;
    }

    &__label {
        font-size: small;
    }
}
