.timer-bar {
    & div {
        border-radius: 2px;
        height: 20px;
        margin-top: 5px;
        background: linear-gradient(
            to bottom,
            var(--timer-bar-color-top),
            var(--timer-bar-color-bottom)
        );
        transform-origin: left center;
    }
}
